.footer {
  margin: 80px;
}

.footer__nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 180px;
}

.footer__order {
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
  text-align: center;
  max-width: 800px;
  padding: 40px 80px;
  background-color: #6dd6da;
  border-radius: 100px;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.2;
}

.footer__order a {
  color: #fff;
}
