.header {
  margin: 80px;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  column-gap: 23px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
}
.header__link {
  color: #000;
  border-bottom: 2px solid #bbb4b4;
}
